doctype html
html
	head
		title Node blog
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			nav
				li
					a(href='/') Home
				li
					a(href='/posts/add') Add Post
				li
					a(href='/categories/add') Add Category
			!= messages()
			block content
			footer
				p Nodeblog @copy; 2016
